{% extends "base.html" %}

{% block 'title' %}Add Mill Draupadi Mess{% endblock 'title' %}

{% block 'content' %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="pt-3 mb-4"><span class="text-muted fw-light">Dashboard /</span> Add Mill</h4>
        <div class="card mb-4">
            <div class="card-body">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            {{message}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>                        
                    {% endfor %}
                {% endif %}
                    
                <form method="post">
                    {% csrf_token %}
                    <div class="row gy-3">
                        <div class="col-md-12">
                            <div class="form-floating form-floating-outline">
                                <input type="text" name="mill_date" class="form-control flatpickr-input active" placeholder="YYYY-MM-DD" id="flatpickr-date" readonly="readonly">
                                <label for="flatpickr-date">Date</label>
                            </div>
                        </div>
                        {% for member in members %}
                            <div class="col-6">
                                <select id="memberselect" name="mill_person{{forloop.counter}}" class="form-select form-select-sm">
                                    <option value="{{member.id}}">{{member.first_name}}</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <select id="millselect" name="mill_mill{{forloop.counter}}" class="form-select form-select-sm">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2" selected>2</option>
                                </select>
                            </div>
                        {% endfor %}
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-primary">SAVE</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>





{% endblock 'content' %}

