{% load static %}
<!doctype html>
<html lang="en" dir="ltr" data-nav-layout="vertical" class="dark" data-header-styles="dark" data-menu-styles="dark">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block 'title' %}{% endblock 'title' %}</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% comment %} <script src="{% static 'js/script.js' %}"></script> {% endcomment %}

</head>

<body class="">

     <div class="page">
        {% block 'content' %}{% endblock 'content' %}
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
         $(document).ready(function() {
            function fetchPosts() {
                $.ajax({
                    url: "{% url 'fetch_posts' %}",
                    method: "GET",
                    dataType: "json",
                    success: function (data) {
                        $('#post-list').html(data.posts_html);
                    },
                    error: function (error) {
                        console.error("Error fetching posts:", error);
                    }
                });
            }
            fetchPosts();
            setInterval(fetchPosts, 5000);

            $("#mill-form").submit(function(event) {
                event.preventDefault();  // Prevent the default form submission

                var formData = $(this).serialize();

                $.ajax({
                    type: "POST",
                    url: "{% url 'save_mill' %}",  // Use the URL pattern name
                    data: formData,
                    success: function(response) {
                        if (response.success) {
                            $("#result").text("Form saved successfully.");
                        } else {
                            $("#result").text("Error: " + response.error);
                        }
                    }
                });
            });
            document.getElementById('newdatePicker').value = new Date().toDateInputValue();
        });
    </script>
</body>

</html>