{% extends "base.html" %}

{% block 'title' %}Bill | Draupadi Mess{% endblock 'title' %}

{% block 'content' %}
    <div class="container-xxl flex-grow-1 py-0">
        <h4 class="pt-3 mb-4"><span class="text-muted fw-light">Dashboard / </span>Bill</h4>
        {% if cal_btn %}
            <form method="post" action="{% url 'calculate' %}" class="mb-4">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Calculate</button>
            </form>
        {% endif %}
        <div class="card mb-5">
            <div class="card-body">

            </div>
        </div>
    </div>





{% endblock 'content' %}

