{% extends "base.html" %}

{% block 'title' %}Home{% endblock 'title' %}

{% block 'content' %}
    <div class="container">
        <h1>Welcome </h1>
    </div>
    <form method="post" id="mill-form">
        {% csrf_token %}
        {% for member in members %}
            <input type="date" name="mill_date{{forloop.counter}}" id="newdatePicker">
            <select name="mill_person{{forloop.counter}}">
                <option value="{{member.id}}">{{member.first_name}}</option>
            </select>
            <select name="mill_mill{{forloop.counter}}">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="3">2</option>
            </select>
            <select name="mill_bazar{{forloop.counter}}">
                <option value="1">Rupam</option>
            </select><br>
        {% endfor %}

        <button type="submit">Save</button>
    </form>
    <div id="result"></div>
    {% include 'content.html' %}
{% endblock 'content' %}

