{% extends "base.html" %}

{% block 'title' %}Home{% endblock 'title' %}

{% block 'content' %}
    <div class="container-fluid">
        <h5 class="text-center mb-4">Registration</h5>
    </div>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <input type="text" name="first_name" placeholder="First Name" class="form-control mb-3">
            <input type="text" name="last_name" placeholder="Last Name" class="form-control mb-3">
            <input type="text" name="phone" placeholder="Phone" class="form-control mb-3" required>
            <input type="password" name="password" placeholder="Password" class="form-control mb-3" required>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
{% endblock 'content' %}

